@model BLL.Interface.Entities.BLLTestResult

@{
    ViewBag.Title = "TestResult";
}

<h2>Результат теста:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Test.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Details", "TestResultDetails", new { testResultId = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
