@model IEnumerable<BLL.Interface.Entities.BLLTestResult>

@{
    ViewBag.Title = "Index";
}

<h2>Passed tests history</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Test)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Test.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.ActionLink("Details", "TestResultDetails", "Test", new { testResultId = item.Id }, null)
        </td>
    </tr>
}

</table>
