@model BLL.Interface.Entities.BLLUser

@{
    ViewBag.Title = "EditUser";
}

<h2>Editing user</h2>

@using (Html.BeginForm())
{
    <div>
        <hr />
        <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.Id)
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DropDownList("RoleId")
            </dd>

        </dl>
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Users")
</p>
